@font-face {
    font-family: "myKarlaBold";
    src: url("/fonts/Karla-Bold.ttf") format("truetype"), url("/fonts/Karla-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "myKarlaBoldItalic";
    src: url("/fonts/Karla-BoldItalic.ttf") format("truetype"), url("/fonts/Karla-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}@font-face {
    font-family: "myKarlaItalic";
    src: url("/fonts/Karla-Italic.ttf") format("truetype"), url("/fonts/Karla-Italic.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "myKarlaRegular";
    src: url("/fonts/Karla-Regular.ttf") format("truetype"), url("/fonts/Karla-Regular.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}


body {
    font-size: 22px;
    margin: 0;
    font-family: "myKarlaRegular";
}

h1, h2, h3 ,h4 , h5, h6, strong {
    font-family: "myKarlaBold";
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

a {
    color: #000;
    font-weight: bold;
}

a:hover {
    color:#f73e3e;
}

.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.header-nav li {
    float: left;
}

.header-nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header-nav li a:hover {
    background-color: #111;
}

.header-nav .products:active {
    background-color: #f73e3e;
}


.header {
    width: 100%;
    background-color: #333;
}

.header img {
    width: 100px;
    height: auto;
    margin-left: 40px;
}

.header-nav {
    width: 80%;
    float: right;
    margin-top: 25px;
    margin-right: 30px;
}

.handy {
    height: 420px;
    width: 430px;
    background-color: #dbdbdb;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 10px;
    display: inline-table;
}

#content {
    max-width: 100%;
    width: 81.5%;
    margin: 20px auto;
}


.handy-headline {
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

.handy-icon {
    background-color: #e8ecf0;
    /*padding-left: 130px;*/
    width: -webkit-fill-available;
}
.handy-icon img {
    margin-right: auto;
    margin-left: auto;
    display: block;
}


.handy button {
    background-color: #ddd;
    border-radius: 28px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #111111;
    font-size: 22px;
    padding: 10px 10px;
    text-decoration: none;
    margin-left: 39%;
}

.handy-price {
    float: right;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 40px;
    padding-top: 10px;
}

.fa-info-circle{
    color: #111111;
    padding-left: 5px;
    padding-top: 5px;
}

.fa-cart-plus{
    color: #111111;
    padding-left: 5px;
    padding-top: 10px;
}

/* Homepage */


.banner-start {
    background-image: url("/Banner.jpg");
    height: 400px;
    background-size: 100%;
}

.banner-text {
    text-align: center;
    margin-top: 0;
    padding-top: 15%;
    font-family: 'myKarlaBold';
    font-size: 85px;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    color: #f75e3e;
}

.zwei-links {
    display: flex;
    width: 100%;
    background-color: #444;
}

.zwei-links div {
    color: #FFFFFF;
    margin: 0 auto;
    background-color: #333333;
    padding: 75px 0;
    width: 350px;
    text-align: center;
    border-right: 2px solid #FFFFFF;
    border-left: 2px solid #FFFFFF;
}
.zwei-links div:hover {
    background-color: #444;
}

.phone-woman {
    width: 440px;
    height: auto;
}

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/*================= Footer =================*/
footer {
    background-color: #333;
    color: white;
    width: 100%;
}

.footer-main {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.footer-main h4 {
    border-left: 4px solid #f73e3e;
    padding-left: 7px;
    height: 6%;
}

.footer-main div {
    margin: 20px auto;
    width: 20%;
}

.footer-main div.sitemap {
    width: 80%;
    margin: 0;
}

.footer-main div.sitemap > ul {
    display: grid;
}


.footer-main div a:hover {
    color: #f73e3e;
    background-color: unset;
}


.footer-main div.contact a{
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.footer-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.footer-main li {
    float: left;
}

.footer-main li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.footer-main div.contact a:hover {
    color: #f73e3e;
    background-color: unset;

}

.footer-main div.contact p {
    font-size: 20px;
}

.footer-bottom {
    border-top: 4px solid #f73e3e;
    background-color: #222;
    width: 100%;
}

.footer-bottom p {
    margin: 20px 15px 0px 15px;
    padding-bottom: 10px;
}

.footer-bottom a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}

.footer-bottom a:hover {
    color: #f73e3e;
}

/* ================= /contact Page ================= */

#fullSize {
    width: 100%;
}

iframe {
    width: 100%;
    height: 325px;
    frameborder: 0px;
    border:0;
    allowfullscreen:"";
    aria-hidden:"false";
    tabindex: "0";
}
#content .zeiten {
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
}

#content .kontaktaufnahme {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

div.zeiten table{
    border-collapse: collapse;
    width: 40%;
    margin: 20px auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.feedback-input{
    line-height: 20px;
    border-style:solid;
    border-width:2px;
    border-color:#222;
    transition-duration:0.3s;
    padding:13px;
    margin-bottom:5px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    font-size: 13px;
    font-weight:light;
    color:black;
    text-transform:uppercase;
    letter-spacing:0.05em;
}

.feedback-input:focus{
    border-width:2px;
    border-style:solid;
    border-color:#333;

}

.textarea {
    line-height: 20px;
    border-style:solid;
    border-width:2px;
    border-color:#222;
    transition-duration:0.3s;
    padding:13px;
    margin-bottom:5px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    font-size: 13px;
    font-weight:light;
    color:black;
    text-transform:uppercase;
    letter-spacing:0.05em;
    height: 330px;
}

.contact-dsgvo {
    display:flex;
}

.contact-dsgvo input {
    width: 65px;
    margin: 0;
}

.contact-dsgvo p {
   margin-top:0;
}

/* ================= /aboutus Page =================*/

#content .aboutUs {
    width: auto;
    text-align: justify;
    background-color: #e8ecf0;
    padding: 20px;
    margin-bottom: 50px;
    font-size: 23px;
}

#content > .aboutUs > h2 {
    font-size: 26px;
}

.footer-top {
    background-color: #e8ecf0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-top > div {
    width: 33.333%;
    height: 150px;
    background-color: #e8ecf0;
}

.footer-top > div > div {
    width: 75px;
    height: 55px;
    margin-top: 35px;
    margin-left: 80px;
    display: inline-block;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.footer-top > div > div.text {
    width: 75px;
    height: 75px;
    margin: 0px;
    width: 175px;
    height: 75px;
    font-size: 20px;
    display: inline-block;
}

.footer-top > div.kunden > div.text {
    width: 75px;
    height: 75px;
    margin: 0px;
    width: 175px;
    height: 75px;
    font-size: 20px;
    display: inline-block;
}

/*================= /impressum Page =================*/

#content > div.impressum {
    width: 100%;
    height: auto;
    font-size: 18px;
    background-color: #e8ecf0;
    text-align: justify;
    padding: 20px;
}

#content > div.impressum > h3 {
    color: #f73e3e;
}

#content > div.impressum a {
    color: #f73e3e;
    text-decoration: none;
}

#content > div.impressum a:hover {
    text-decoration: underline;
}

/*================= /datenschutz Page =================*/
#content > div.datenschutz {
    width: 100%;
    height: auto;
    font-size: 18px;
    background-color: #e8ecf0;
    text-align: justify;
    padding: 20px;
}

#content > div.datenschutz > h3 {
    color: #f73e3e;
}
#content > div.datenschutz a {
    color: #f73e3e;
    text-decoration: none;
}

#content > div.datenschutz a:hover {
    text-decoration: underline;
}

#content > div.datenschutz > ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style-type: disc;
    position: unset;
}

#content > div.datenschutz > ul > li {
    display: list-item;
    text-align: justify;
    margin-bottom: 10px;
}

.flash-message {
    font-size: 13px;
    width: 30%;
    float: right;
    position: relative;
    padding: 20px;
    background-color: #5eb5e0;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/*================= /register Page =================*/


input {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    background-color: rgb(221, 221, 221);
}

[type="submit"] {
    margin-top: 28px;
    width: 160px;
    height: 32px;
    background: #f73e3e;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}
#content > form > .row {
    margin: 35px auto;
    width: 600px;
    height: auto;
    background: #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #f73e3e;
    transition: 0.2s ease;
    border-left: none;
    border-right: none;
    border-top: none;
    outline: none;
}


[type="submit"]:hover,
[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
    border: none;
}
/*================= /login Page =================*/

#content .container-login {
    margin: 20px auto;
    width: 600px;
    height: auto;
    background: #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 81px auto;
}

#content .container-login p > a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}


#content .container-login p > a:hover {
    color: #f73e3e;
    background-color: unset;
}

#content .container-login p {
    font-size: 20px;
}

/* ============== /userOptions Page ============*/
#content .profile-overview {
    width: auto;
    height: 428px;
    display: flex;
    max-width: fit-content;
    padding-top: 50px;
    background-color: #ddd;
    margin: 35px auto;
}

#content .profile-pic {
    width: 409px;
    height: 378px;
    display: inline-block;
}

#content .profile-pic .img {
    width: 300px;
    height: auto;
    margin: 0 auto;
    padding-top: 50px;
}

#content .profile-info {
    width: 409px;
    height: 378px;
    display: inline-block;
    margin-left: 183px;
}

#content .profile-info .profile-name {
    width: auto;
    height: 50px;
    color: black;
    border: 5px solid #f73e3e;
}

#content .profile-info > h1 {
    font-size: 60px;
    margin-bottom: 14px;
}
#content .profile-info .buttons > button {
    width: 202px;
}

#content .profile-info .buttons {
    margin-top: 17px;
}

/* ============== /userAccount Page ============*/
#content .user-account {
    width: 600px;
    height: auto;
    background-color: #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 20px auto;
}

#content .user-account > p {
    font-size: 21px;
    margin-bottom: 30px;
}

#content .user-account > img {
    width: 35px;
    height: auto;
}

/* ============== /cart Page ============*/
.cart {
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

#content .labels {
    width: auto;
    height: 60px;
}

label.handy-img {
    float: left;
    width: 14%;
}

label.handy-brand {
    float: left;
    width: 7%;
    padding-bottom: 10px;
    height: 40px;
    padding-top: 10px;
    margin-right: 56px;
}

label.handy-name {
    float: left;
    width: 8%;
    padding-bottom: 10px;
    height: 40px;
    padding-top: 10px;
    margin-right: 132px;
}

label.handy-details {
    float: left;
    width: 20%;
    padding-bottom: 10px;
    height: 40px;
    padding-top: 10px;
}


label.handy-price {
    float: right;
    width: 10%;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 40px;
    padding-top: 10px;
}

label.handy-entfernen {
    float: right;
    width: 9%;
    padding-bottom: 10px;
    height: 40px;
    padding-top: 10px;
}

label.handy-img, label.handy-entfernen {
    text-indent: -9999px;
}

#content .cart {
    background-color: #ddd;
    display: flex;
    width: 100%;
}

#content .cart .handy-img {
    width: 46%;
    height: 208px;
    display: inline-block;
    text-align: center;
}

.cart.info .handy-img {
    height: auto!important;
    width: auto!important;
}

.cart.info .handy-img img {
    height: auto;
    width: 160px;
    margin: 10%;
}

.cart .handy-img > img {
    width: 100px;
    margin-top: 6px;
}

#content .cart .handy-brand {
    width: 10%;
    display: inline-block;
    padding-bottom: 10px;
    height: 40px;
    padding-top: 10px;
    margin-right: 39px;
}
#content .cart .handy-name {
    width: 55%;
    display: inline-block;
    padding-bottom: 10px;
    height: 40px;
    padding-top: 10px;
    margin-right: 69px;
}


#content .cart .handy-details {
    width: 39%;
    display: inline-block;
    padding-bottom: 10px;
    height: 40px;
    padding-top: 10px;
    margin-right: 100px;
}

#content .cart .handy-price {
    width: 12%;
    display: inline-block;
    float: right;
    padding-right: 20px;
    padding-bottom: 10px;
    height: 40px;
    padding-top: 10px;
    text-align: right;
    margin-left: 155px;
}


#content .cart .handy-entfernen {
    width: 9%;
    display: inline-block;
    float: right;
    padding-bottom: 10px;
    height: 40px;
    padding-top: 10px;
}

#content .cart .handy-entfernen > button.entfernen {
    width: auto;
    height: 32px;
    background: #f73e3e;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

button.entfernen:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
    border: none;
}


#content .totals {
    display: inline-block;
    width: 100%;
    height: auto;
}

#content .totals .totals-item{
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 20px;
}

#content .totals .totals-item > label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}
#content .totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
}

#content .totals button.checkout {
    float: right;
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #f73e3e;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

.totals .checkout:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
    border: none;
}

/* ============== /orderHistorie Page ============*/
.orderHistorie {
    width: 50%;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.historyDetails{
    float: right;
    margin-top: 28px;
    width: 120px;
    height: 25px;
    background: #f73e3e;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}
#orderDetailOverlay {
    position: fixed;
    visibility: hidden;
    width: 80%;
    height: 80%;
    display: block;
    top: 10%;
    left: 10%;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 2;
    border-color: #111111;
    border-radius: 2px;


}
/* Details Seite */

.detail.info {
	display: flex;
	background-color: #ddd;
	border: 1px solid #0002;
}

.detail-row-first,
.detail-row-second {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 10px 20px;
}

.detail-brand,
.detail-text {
	margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.detail-mehr {
	display: flex;
    flex-direction: row;
}

.detail-colors,
.detail-memory {
	border-bottom: 1px solid #0005;
	padding-bottom: 10px;
}

.detail-colors p,
.detail-memory p {
	font-size: 10px;
}

.detail-available p {
	font-size: 15px;
}

.detail-colors strong,
.detail-memory strong {
	display: block;
	margin-bottom: 15px;
}

.detail-colors div {
	width: 35px;
    height: 35px;
    border: 2px solid #888;
    border-radius: 10px;
    margin: 0 10px;
    display: inline-block;
}

.detail-colors .red {
	background-color: red;
}

.detail-colors .white {
	background-color: white;
}

.detail-colors .black {
	background-color: black;
}

.detail-memory a {
	border: 2px solid #888;
	border-radius: 10px;
	padding: 5px;
	margin:5px;
}

.detail-img {
	margin: 15px 20px;
}

.detail-row-second .detail-mehr div {
	width: 50%;
}

.detail-price {
	display: flex;
	flex-direction: column;
}

.detail-price button.addToCart {
	font-size: 18px;
    padding: 5px;
    background-color: #fff;
    border: 2px solid #0005;
    border-radius: 35px;
    margin-top: 20px;
}

.detail-price button.addToCart:focus {
	outline: none;
}

.detail-price button.addToCart:hover {
	color: #fff;
	background-color: #000;
}

.detail-price button.addToCart:hover i {
	color: #fff;
}

