{% extends "base.html.twig" %}
{% block content %}
    <div class="aboutUs">
        <h1>Über uns</h1>
        <h3>Handyshop24.de - Top Deals für Smartphones</h3>
        <p>Sie sind auf der Suche nach einem neuen Smartphone mit Vertrag? Dann sind Sie bei uns genau richtig.</p>
        <p>Unsere große Auswahl neuester Geräte namhafter Hersteller wie Apple, Samsung, HTC oder Huawei sorgt dafür, dass auch für Sie das richtige Smartphone dabei ist.
            Die smarte Deal-Plattform Handyshop24 zeigt Ihnen die spannendsten Angebote mit sehr gutem Preis-Leistungsverhältnis übersichtlich und transparent.</p>
        <p>Über 1 Million zufriedene Kunden konnten wir bereits mit einem neuen Handy zu besten Konditionen glücklich machen.
            Bestellen können Sie Ihr Wunschprodukt gleich online oder über die kostenlose Hotline, wo Sie auch kompetent und individuell beraten werden.</p>
        <p>Unsere Expertenteams sind erfahrene Fachleute, die in der Branche bestens vernetzt sind und den Smartphone-Markt permanent scannen und analysieren.
            Auf diese Weise können wir auf preis24.de täglich neue Top-Deals anbieten – in Form von exklusiven Paketen mit einem optimierten Preis-Leistungs-Verhältnis. </p>
        <p>Unsere Preise sind deshalb so attraktiv und unsere Angebote so exklusiv, da wir als bewährter Geschäftspartner mit den Anbietern Sonderkonditionen und Rabatte aushandeln, die wir direkt an unsere Kunden weitergeben.</p>
    </div>

    <div class="footer-top">
            <div class="hotline">
                <div class="phone">
                    <img src="phone-call.png" alt="Telefon-Bild">
                </div>
                <div class="text">
                    <a href="tel:+49238112345;"><p><Strong>(+49) 2381 12345</Strong></p></a>
                    <p>Beratung (Mo.-Sa.)</p>
                </div>
            </div>
            <div class="kunden">
                <div class="like">
                    <img src="like.png" alt="Like-Bild">
                </div>
                <div class="text">
                    <p><strong>Über 1 Million zufriedene Kunden</strong></p>
                </div>
            </div>
            <div class="preis">
                <div class="discount">
                    <img src="discount-tag.png" alt="Discount">
                </div>
                <div class="text">
                    <p><strong>100% Leistung zum günstigen Preis</strong></p>
                </div>
            </div>
    </div>
{% endblock %}