{% extends "base.html.twig" %}
{% block fullSize %}
    <section>
        <div class="banner-start">
            <p class="banner-text">Handy Shop 24</p>
        </div>
    </section>
{% endblock %}
{% block content %}
        <div>
            <h1>Handy Shop 24</h1>
        </div>
        <div>
            <h2>Die Besten Smartphone zum guten Preis</h2>
            <div style="display: flex">
            <p style="width: 70%">Sie suchen ein neues Smartphone?<br>
                Wir haben die perfekte Auswahl für euch und das noch zu einem guten Preis.
                Apple, Samsung, Huawei, Xiaomi und viel mehr findet Ihr bei uns zu einem günstigen Preis.<br>
                Die Handys werden schnell mit der Deutschen Post zu Ihrer Wunschadresse geliefert.<br>
                Also müssen sie nicht lange auf Ihr gewolltes Smartphone warten.</p>
            <img src="/phone-woman.jpg" class="phone-woman">
            </div>
        </div>
        <div>
            <h2>Lorem ipsum dolor sit atmet</h2>
            <p>In den Zukünftigen Updates kommen weitere Texte auf die Seite. Dieser Text hier ist ein Platzhalter. Danke für euer Verständniss. Bleibt gesund!</p>
        </div>
{% endblock %}